.jconfirm .jconfirm-box div.jconfirm-content-pane {
    overflow: auto !important;
}


.jconfirm .jconfirm-box div.jconfirm-content-pane span.select2-container
{ z-index:1000000000000000000000; }


.select2 {

    border-radius: 0px !important;
}

#aod_reason_filter_div .select2 {
    width: 200px !important;
}


.select2-container--bootstrap .select2-selection{
    border-radius: 0px !important;

}

.jconfirm {
    z-index: 10000000000 !important;
}

.details_panel{
    height: 280px;
    overflow: scroll;
    overflow-x: hidden;
}

.details_panel::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.details_panel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}


.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    width: 100%;
}

.data_list_filters input[type="text"]
{
    margin-bottom: 0px !important;
}

.chip .catagory-image {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #899caa;
    color: white;
font-size: 22px;
    font-weight: 600;
}

.data_table_edit_Button {
    color: #00B247;
    font-size: 20px !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #cccccc !important;
    border-radius: 0px !important;
    height: 34px !important;
}


.select2-default {
    color: #999 !important;
    width: auto !important;
}



#all_details_panel {
    position: relative;
}

#overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(247, 246, 246,0.4);
    z-index: 100000;
    cursor: pointer;


}

.select2-container--open .select2-dropdown--below
{
    z-index: 1000000000000000;
}

.table-responsive {

    margin-bottom: 20px;
}

table.dataTable thead th, table.dataTable thead td , table.dataTable.no-footer {

     border-bottom: none !important;
}

.Editor-editor {
    height: 193px !important;
}

.table > thead > tr > th {
    border-bottom: 3px solid #b3b3b3;
    font-weight: 600;
    background: #d8dce2;
    text-align: center;
    color: initial;
}

.table > tbody > tr.text-body {
    border-bottom: 2px solid #b3b3b3;

}

.table > tbody.text-body2 {
    border-bottom: 2px solid #b3b3b3;

}



h4.invoice-hedding {
    font-size: 24px !important;
    font-weight: bold;

}

p.text-info {
    font-weight: bold;

}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 34px;
    margin-bottom: 10px;
}

.intl-tel-input {
    width: 100% !important;
}


.select2 {
    width: 100% !important;
}



.media_view_list .remove_product_pic
{
font-size: 13px;
}

.media_view_list .btn-danger:hover {
    color: #f13c3c;
    background-color: transparent !important;
    border: none !important;
}

.media_view_list li:first-child img {
    border:5px solid #021a40;
}

.dark_theme  .navbar-default .navbar-nav > li > a {

    color: #ffffff;

    background-color: #14283c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#14283c), color-stop(85%, #10456f), to(#14283c));
    background-image: -webkit-linear-gradient(#14283c, #10456f 85%, #14283c);
    background-image: -moz-linear-gradient(top, #14283c, #10456f 85%, #14283c);
    background-image: -o-linear-gradient(#14283c, #10456f 85%, #14283c);
    background-image: linear-gradient(#14283c, #10456f 85%, #14283c);
    background-repeat: no-repeat;
}

.dark_theme  .main-container {
    padding: 20px;
    min-height: 560px;
    background: #14283c;
}

.dark_theme  .panel {

    background-color: #14283c;
    color: #ffffff;
    border: 1px solid #000000;
}


.dark_theme  #overlay {
    background-color: rgba(0, 0, 0, 0.4);
}
.dark_theme .form-control {
    color: #a29b9b;
    background-color: #091d31;
    border: 1px solid #6b6b6b;
}

.dark_theme footer {

    background: #021a31;

    color: #ffffff;
}
.dark_theme  a {
    color: #ffffff;
    text-decoration: none;
}

.dark_theme .select2-container--default .select2-selection--single {
    background-color: #091d31;
    color: #ffffff;
    border: 1px solid #6b6b6b !important;
}

footer a
{
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {

    padding: 6px 8px;
     margin-right: 0px;

     -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0px 0px 0 0;
     border-radius: 0 0 0 0;
    font-size: 11px;
    font-weight: 600;

}

.container-fluid {
    padding-right: 5px;
     padding-left: 5px;
}
footer {

    margin: 0 10px 20px 10px;
}

.dropdown-menu > li > a {
    font-size: 11px;
}

header {

    margin-bottom: 5px;
}



label {
    font-size: 13px;
     font-weight: 500;
    margin-bottom: 1px;
    color: #848181;
}

.main-container
{
    border-left: #bb0d00 solid 5px;
    animation: myanim 3s infinite;
    background: #f7f6f6;
}
@keyframes myanim {
    75% {
        border-color: red;
    }
}





.top-bar {

    background-color: #546e7a;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;

}

footer {

    background: #000000;
}

.navbar-default .navbar-nav > li > a {
    color: #d2cbcb;

    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#074771), color-stop(85%, #074e7c), to(#074772));
    background-image: -webkit-linear-gradient(#074771, #074e7c 85%, #074772);
    background-image: -moz-linear-gradient(top, #074771, #074e7c 85%, #074772);
    background-image: -o-linear-gradient(#074771, #074e7c 85%, #074772);
    background-image: linear-gradient(#074771, #074e7c 85%, #074772);
    background-repeat: no-repeat;
}

.panel {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 11px 41px 3px #B4B6B6;
    box-shadow: 0px 2px 3px -7px #909090, 0px 2px 5px 1px #B4B6B6;
    border: none;

}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
    position: relative;
    background: #004352;
    color: #ffffff;
}

.table > thead > tr > th, .table > thead > tr > td {
    font-size: 12px;
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    font-weight: 600;
}

#system_time_display
{
    color: #86adc5;
    font-weight: 600;
}


.panel-primary>.panel-heading {
    color: #fff;
    background-color: #246789;
    border-color: #428bca;
    background-image: none;
}
.panel-primary {
    border-color: #428bca;
}
/*.project_panel_body .panel-heading{*/
    /*padding: 5px 5px 0 5px;*/
/*}*/
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}

.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;

}
.with-nav-tabs.panel-primary .nav-tabs li a {
    font-weight: 600;
    background: none;
}
.with-nav-tabs.panel-primary .nav-tabs > li > a, .with-nav-tabs.panel-primary .nav-tabs > li > a:hover, .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #d8d8d8;
}

.tab-content {
    padding: 15px;
    border: none;
    border-top: 0;
    background: #ffffff;
}

.project_panel_body
{
    border-left: 5px solid #246789;
    border-bottom: 5px solid #246789;
    border-right: 5px solid #246789;
}

.with-nav-tabs.panel-primary .nav-tabs > .open > a, .with-nav-tabs.panel-primary .nav-tabs > .open > a:hover, .with-nav-tabs.panel-primary .nav-tabs > .open > a:focus, .with-nav-tabs.panel-primary .nav-tabs > li > a:hover, .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
}

.mini-widget a
{
    color: #ffffff;
    font-weight: 600;
}

.mini-widget .mini-widget-body .number {
    font-size: 20px;
    line-height: 50px;
    font-weight: 600;
}

.btn i {
    margin-right: 0px;
}

.btn-xs i {
    font-size: 12px;
}

.dataTables_length select
{
    height: 24px;
}

#project_panel .panel-heading {
    position: relative;
    padding: 12px 12px 0px 12px;
}

#project_panel .nav-tabs li.active a:hover {
     border:  none;

}

#project_panel .nav-tabs>li.active>a,#project_panel  .nav-tabs>li.active>a:focus,#project_panel  .nav-tabs>li.active>a:hover {

     border: none;

}

.btn-success:focus, .btn-success.active, .btn-success:active, .btn-success:focus, .btn-success.active.focus, .btn-success:active.focus, .btn-success:active:focus {
    background-color: #11632b;

}

.btn-primary:focus, .btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary.active.focus, .btn-primary:active.focus, .btn-primary:active:focus {
    background-color: #043a4e;
    border: 1px solid #006d96;
    box-shadow: none;
}



#customer_info_alert {
     color: #ffffff;
     background-color: #9a9da2;
     border-color: #f7f6f6;
 }

#products_info_alert {
    color: #ffffff;
    background-color: #546e7a;
    border-color: #f7f6f6;
}

ul.product-status li .product-details {
    margin-left: 5px;
}

.login-wrapper .login .login-header .logo img {
    max-width: 100%;
}

.logo img {

    max-width: 254px;
}

body.login-bg, .register-page {
    height: auto;
    background-color: #031c39;
    background-image: url(../../images/login_bg.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

}


.top-bar {
    height: auto;
    background-color: #031c39;
    background-image: url(../../images/login_bg.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.page-title
{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 5px;

}

.login_content {


    position: relative;
    width: 250px;
    height: 430px;
    top: calc(50% - 175px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
}

.login_content label
{
    color:#c4c1c1;

}


.login_content:after{
    content: '';
    width: 300px;
    height: 300px;
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0;
    /*top: -25px;*/
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur(30px);

}

.login{
    position: relative;
    margin-top: 50px;
    z-index: 1;
}




.login-wrapper .login .login-header h5 {
   color: #dcdcdc;
}

.login-body .btn-primary
{
background-color: #204d74;
}

.login_page footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.btn-primary {
    background-color: #006d96;
    border: 1px solid #08526d;
}

#display_status h4
{
    font-weight: 600;
}

.logo h3{
    color: #fff;
    font-weight: 600;
    padding-top: 15px;
}


.login-wrapper .login {
     background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
}

.top-bar .page-title h4 {
    margin: 0;
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
}

.form-control:focus {
    border: 3px solid #004a62;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #000000;
}

.select2-results{
    border: 2px solid #004a62;

}